/* global */
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h4 {
  margin: 0;
  padding: 0;
}

#overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4bad7a;
  z-index: 2;
  cursor: pointer;
  animation-name: animOverlay;
  animation-duration: 0.4s;
}

#content-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-overlay img {
  width: 80px;
}

#content-overlay p {
  font-size: 38px;
  color: white;
}

.test-img {
  background: #e2e2e2;
  height: 40px;
  width: 40px;
  align-items: center;
}

.global-container {
  margin: 15px 0 0 15px;
}

.medium-padding {
  padding: 20px;
}

.display-none {
  display: none !important;
}

button {
  border: none;
  padding: 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

button.grey:hover {
  background: #4c4e4d;
}

#btn-show-rule {
  border: 2px solid #0a95ca;
  background: inherit;
  color: #0a95ca;
}

button.grey {
  background: #282c2b;
}

#fight {
  height: calc(100vh - 17px);
  width: calc(100vw - 17px);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  font-size: 60px;
}

.fight-activate {
  animation-duration: 2.5s;
  animation-name: fightAnim;
}

.fight p {
  margin: 0;
  font-size: 70px;
}

/* helpers */
.flex {
  display: flex;
  flex-direction: row;
}

.align-flex {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.which-player {
  background-color: #F1F1F1;
}

.container-global {
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.next-player a {
  background: #282c2b;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 1rem 2rem;
  transition: all .3s ease-in-out;
}

.game-control {
  margin-right: 20px;
}

.game-control img {
  cursor: pointer;
  transition: transform .3s;
}

.game-control img:hover {
  transform: scale(0.9);
}

.next-player a:hover {
  background: #4c4e4d;
}

.control-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0 40px 40px;
}

.game-display {
  padding: 14px 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 680px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 38px;
}

.modal-content p {
  line-height: 22px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 22px;
  top: 11px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fightAnim {

  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2.5);
  }

}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}


@keyframes animOverlay {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

