/* global */
body {
    font-family: sans-serif;
}

/* helpers */
.flex {
    display: flex;
    flex-direction: row;
}

.which-player {
    background-color: #F1F1F1;
}

.container-global {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.next-player a {
    background: #282c2b;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 1rem 2rem;
    transition: all .3s ease-in-out;
}

.game-control {
    margin-right: 20px;
}

.next-player a:hover {
    background: #4c4e4d;
}

.control-board {
    margin-left: 40px;
}

.players {
    padding: 14px 20px;
}