.board-control {
    padding: 0 4.2rem 4.2rem 4.2rem;
    align-self: flex-start;
    margin-left: 2rem;

    h1 {
        font-size: 2.2rem;
        margin-bottom: 3.5rem;
    }

    h2 {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin: 0 0 0 4rem;
        padding-bottom: 1rem;
        position: relative;

        &::after {
            position: absolute;
            left: -4rem;
        }
    }

    p {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    .action-player {

        span {
            background: white;
            display: flex;
        }
    }

    .player-1 {
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 2.5rem;

        h2,
        span {
            color: $quaternary-color;
        }

        h2 {
            &::after {
                content: url("../assets/img/icon-player-1.jpg");
            }
        }
    }

    .player-2 {
        padding-top: 3.6rem;

        h2,
        span {
            color: $quinary-color;
        }

        h2 {
            position: relative;

            &::after {
                content: url("../assets/img/icon-player-2.jpg");
            }
        }
    }
}