.btn {
    display: inline-flex;
    color: $secondary-color;
    padding: $btn-padding-global;
    line-height: $btn-line-height;
    transition: $btn-transition;

    //Hover
    // &:hover {
    //     transform: scale(1.1);
    // }

    //Size
    &.btn-size-1 {
        padding: map-get($btn-size, "primary");
        font-size: 1.8rem;
    }

    &.btn-size-2 {
        padding: map-get($btn-size, "secondary");
        font-size: 1.4rem;
    }

    //Color
    &.btn-color-1 {
        background-color : map-get($btn-color, "primary");
    }

    &.btn-color-2 {
        background-color : map-get($btn-color, "secondary");
    }

    &.btn-color-3 {
        background-color : map-get($btn-color, "tertiary");
    }
}