html {
    font-size: 62.5%;
    font-family: sans-serif;
}

p {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

section {
    padding: 3rem 0;
}