// ------ Global ------ 

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%)!important;
    -ms-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;
  }
  
  // ------ Responsive ------ 
  
  //under 360px
  @mixin xs-mobile {
    @media screen and (max-width: $very-small-mobile-width - 1px) {
      @content;
    }
  }
  //under 480px
  @mixin s-mobile {
    @media screen and (max-width: $small-mobile-width - 1px) {
      @content;
    }
  }
  //under 768px
  @mixin mobile {
    @media screen and (max-width: $tablet-portrait-width - 1px) {
      @content;
    }
  }
  //768px and less
  @mixin tablet-portrait {
    @media screen and (max-width: $tablet-portrait-width) {
      @content;
    }
  }
  //992px and less
  @mixin tablet {
    @media screen and (max-width: $tablet-width) {
      @content;
    }
  }
  //under 1200px
  @mixin s-desktop {
    @media screen and (max-width: $m-desktop-width - 1px) {
      @content;
    }
  }
  //1200px and more
  @mixin desktop {
    @media screen and (min-width: $m-desktop-width) {
      @content;
    }
  }
  
  
  //1498px
  @mixin m-2-desktop {
    @media screen and (max-width: $m-2-desktop-width) {
      @content;
    }
  }
  
  //1315px
  @mixin m-3-desktop {
    @media screen and (max-width: $m-3-desktop-width) {
      @content;
    }
  }
  
  
  
  //1600px and less
  @mixin m-desktop {
    @media screen and (max-width: $l-desktop-width) {
      @content;
    }
  }
  
  //1600px and more
  @mixin l-desktop {
    @media screen and (min-width: $l-desktop-width) {
      @content;
    }
  }
  
  //1920px and more
  @mixin xl-desktop {
    @media screen and (min-width: $xl-desktop-width) {
      @content;
    }
  }
  
  //2200px and more
  @mixin xxl-desktop {
    @media screen and (min-width: $xxl-desktop-width) {
      @content;
    }
  }
  
  // 16/9eme
  @mixin sixteen-nines {
    @media screen and (min-aspect-ratio:16/9) {
      @content;
    }
  }
  
  // Tablet landscape
  @mixin tablet-landscape {
    @media screen and (max-width: $tablet-width) and (orientation: landscape) {
      @content;
    }
  }
  
  
  // ------ Retina ------
  
  @mixin retina( $filename , $extension, $width , $height ) {
    background-image: url($filename + '.' + $extension);
  
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      & {
        background-image: url($filename + '@2x.' + $extension);
        -webkit-background-size: $width $height;
      }
    }
  }