//COLORS
$primary-color : black;
$secondary-color : white;
$tertiary-color : #f1c40f;
$quaternary-color : #27ae60;
$quinary-color : #2980b9;

//BTN
$btn-color: (
  primary: $tertiary-color, 
  secondary: $quaternary-color,
  tertiary: $quinary-color,
);

$btn-size: (
  primary: .8rem 1.6rem, 
  secondary: .4rem .8rem,
);

$btn-transition : transform .2s ease-in-out;
$btn-line-height : 1.5;
$btn-padding-global : .6rem 1.2rem;

//Fonts
$font-title : 'Rock Salt', cursive;



